.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Entity__target {
  color: green;
}
.Entity__disease {
  color: red;
}
.Entity__variant {
  color: blue;
}

.ui.card.hidden {
  display: none;
}

.ui.card.fullscreen {
  width: 100%;
  min-height: calc(100vh - 265px); /* TODO: 265px should be header + footer height */
}

.Gene--spit {
  stroke: red;
  stroke-width: 3px;
}
.Gene--exon {
  fill: white;
  stroke: red;
  stroke-width: 1;
}

@import '~antd/dist/antd.css';